<?xml version="1.0"?>
<ruleset name="Atomic WP Social Sync">
	<description>WordPress coding standards for Atomic WP Social Sync.</description>
	<file>atomic-wp-linkedin-feed.php</file>
	<file>src</file>
	<file>uninstall.php</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<arg name="extensions" value="php" />
	<arg value="sp" />
	<rule ref="WordPress" />
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="atomic-wp-social-sync" />
		</properties>
	</rule>
</ruleset>
